body {
  min-height: 8000px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #cfe1b9;
}

#campus {
  padding-top: 2rem;
  background-color: #cfe1b9;
}

#education {
  padding-top: 2rem;
  background-color: #cfe1b9;
}

#social {
  padding-top: 2rem;
  background-color: #cfe1b9;
}

section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
